/*General*/
/*********/

body {overflow-x:hidden;}
.headerTitle{
  font-size: 144px;
  line-height: 110px;
}
.text{

}
#materialHeader {
    position: relative;
    top: 43px;
    right: -53px;
    background-size: contain;
    transform: scale(1.107);
}

#footerTitle{
  margin-top: 23vh;
}

