/*General*/
/*********/
.headerTitle{
  font-size: 144px;
  line-height: 110px;
}
.text{

}
#materialHeader {
    position: relative;
    top: 43px;
    right: -53px;
    background-size: contain;
    transform: scale(1.107);
}
.materialText{
  margin-top: 215px;
  padding-left: 50px;
}

#footerTitle{
  margin-top: 25%;
}
#footer .shopLink{
  margin-top: -15%;
}
