/*General*/
/*********/

body {overflow-x:hidden;}
.headerTitle{
  font-size: 144px;
  line-height: 110px;
}

.materialText{
  margin-top: 215px;
  padding-left: 50px;
}

#footerTitle{
  margin-top: 23vh;
}
