/*Colors*/
/*
  Kräm:              #F1EAE7 rgba(241, 234, 231, 1)
  Fasad:             #89887F rgba(137, 136, 127, 1)
  Golvväxt:          #5D6F67 rgba(92, 111, 103, 1)
  Avantgarde Turkos: #7DC9D3 rgba(125, 201, 211, 1)
  Plywood:           #D8A969 rgba(216, 169, 105, 1)
  Därrkarm:          #967679 rgba(150, 118, 121, 1)
*/

/*General*/
/*********/

@font-face {
    font-family: 'HeaderFont';
    src: url("../font/DIN_Condensed_Bold.ttf") format("truetype");
}

* {
  font-family: 'MuliRegular', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

/** HEADER **/
/************/

#logo {
  align-self: center;
  background-size: contain;
  margin: 0 auto;
}

nav.large #logo {
  background-image: url('../../img/logo/logo_text.svg');
  background-repeat: no-repeat;
  width: 200px;
  height: 60%;
  margin: 0 auto;
}

nav {
  z-index: 1;
  width: 100%;
  height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #ffffff;
}

/** MAIN **/
/***********/

main.container-fluid {
  background-image: url('../../img/header1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 550px){
  #splashpage{background-position: 80%;}
}

.logotext {padding-top: 65px;}
.header {
  font-family: 'HeaderFont', sans-serif;
  font-size: 6em;
  line-height: 75px;
  display: block;
  text-align: center;
  color: rgb(250, 134, 2);
}

.whiteHeader {
  color: white;
}

/** SECTION **/
/*************/

section {
  padding-top: 120px;
  background: #F2F1EF;
  width: 100%;
  min-height: 700px;
  height: auto;
}

#infosection {
  width: 55%;
  min-height: 400px;
  height: auto;
  float: left;
}

#infosection h1 { margin-left:24px; font-size: 4em; text-align: unset; letter-spacing: 1px;}
#infosection p  { 
   width: 55%;
   margin-top: 45px;
   margin-left: 24px;
   font-size: 18px;
   line-height: 1.5;
   color: #110E0D;
}

#slideshow-section {
  float: right;

  width: 40%;
  min-height: 400px;
  height: auto;
}


.image-slideshow {
  background: url('../../img/slideshow-1/jacka_svart.png');
  background-size: cover;
  width: 400px;
  height: 500px;
} 
