/*Colors*/
/*
  Kräm:              #F1EAE7 rgba(241, 234, 231, 1)
  Fasad:             #89887F rgba(241, 234, 231, 1)
  Golvväxt:          #5D6F67 rgba(241, 234, 231, 1)
  Avantgarde Turkos: #7DC9D3 rgba(241, 234, 231, 1)
  Plywood:           #D8A969 rgba(241, 234, 231, 1)
  Därrkarm:          #967679 rgba(241, 234, 231, 1)
*/
/*General*/
@font-face {
    font-family: 'Maquette';
    src: url("../font/ARSMaquettePro-Light.otf") format("opentype");
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Maquette', sans-serif;
}
.textTitle{
  text-align: center;
}
p.text{
  text-align: center;
}

/*Header*/
nav{
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 120px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.4);
}
nav.small{
  height: 80px;
}
#logo{
  align-self: center;
  background-size: contain;
}
nav.large #logo{
  background-image: url('../../img/logo/logo_text.svg');
  background-repeat: no-repeat;
  width: 227px;
  height: 50%;
}
nav.small #logo{
  background-image: url('../../img/logo/logo_symbol.svg');
  background-repeat: no-repeat;
  height: 90%;
  width: 69px;
}
nav{
  transition: all 1s;
}

main.wrapper{
  display: flex;
  flex-flow: row wrap;
}
.page{
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  /*justify-content: center;*/
}
#splashpage{
  background-image: url('../../img/PER3772-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#splashpage > h1{
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#sliderPage{
  background-color: lightgreen;
}
#slider{
  height: 60%;
  width: 50%;
}
.cocoen{
  width: 100%;
  height: 100%;
}

#shop{
  background-color: lightyellow;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.shopLinkBig{
  background-color: black;
}
#shopLinkBig{
  height: 400px;
  width: 400px;
}
.socialButtons{
  background-color: gray;
  border-radius: 50%;
}
.socialWrapper > a{
  width: 50px;
  height: 50px;
}
