/*Colors*/
/*
  Kräm:              #F1EAE7 rgba(241, 234, 231, 1)
  Fasad:             #89887F rgba(137, 136, 127, 1)
  Golvväxt:          #5D6F67 rgba(92, 111, 103, 1)
  Avantgarde Turkos: #7DC9D3 rgba(125, 201, 211, 1)
  Plywood:           #D8A969 rgba(216, 169, 105, 1)
  Därrkarm:          #967679 rgba(150, 118, 121, 1)
*/
/*General*/
@font-face {
    font-family: 'LogoFont';
    src: url("../font/ARSMaquettePro-Light.otf") format("opentype");
}
@font-face {
    font-family: 'MuliRegular';
    src: url("../font/Muli-Regular.ttf") format("truetype");
}
*{
  margin: 0;
  padding: 0;
  font-family: 'MuliRegular', sans-serif;
}
.textTitle{
  font-weight: 400;
  align-self: flex-start;
}
p.text{
  font-size: 16px;
}
a.shopLink{
  text-decoration: none;
  width: 75%;
  border: 2px solid black;
  margin: 20px 0;
  padding: 20px 4%;
  color: black;
  text-align: center;
}


/*Header*/
nav{
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 120px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.4);
}
nav.small{
  height: 80px;
}
#logo{
  align-self: center;
  background-size: contain;
}
nav.large #logo{
  background-image: url('../../img/logo/logo_text.svg');
  background-repeat: no-repeat;
  width: 227px;
  height: 50%;
}
nav.small #logo{
  background-image: url('../../img/logo/logo_symbol.svg');
  background-repeat: no-repeat;
  height: 90%;
  width: 69px;
}
nav{
  transition: all 1s;
}

main.wrapper{
  display: flex;
  flex-flow: row wrap;
}
.page{
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  /*justify-content: center;*/
}
#splashpage{
  height: 100vh;
  background-image: url('../../img/PER3772-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#splashpage > h1{
  text-align: right;
  margin-right: 2.5%;
  color: white;
  text-shadow: 1px 1px 3px black;
  /*background-color: rgba(0, 0, 0, 0.5);*/
}

#sliderPage{
  background-color: lightgreen;
  height: 240vh;
}
#sliderTitle{
  margin: 2% 5% 0 5%;
}
#slider{
  height: 60%;
  width: 50%;
}
.cocoen{
  width: 100%;
}

.trianglePage{
  color: white;
  z-index: 1;
  height: 185vh;
  background-image: url('../../img/pet.jpg');
  background-repeat: no-repeat;
}
#opacityLayer{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 185vh;
  background-color: rgba(5, 5, 5, .4)
}
#triangleTitle{
  margin: 3% 5% 1.5% 5%;
}

#triangleWrapper{
  width: 400px;
}
#triangleSVG{
  width: 100%;
  height: 50vh;
}
#triangleSVG text{
  font-size: .25em;
  fill: white;  
}
.strike{
  text-decoration: line-through;
}
.trianglePart{
  fill: transparent;
  stroke: white;
}
.topHover{
  background-image: url('../../img/pet.jpg');
}
.leftHover{
  background-image: url('../../img/PER4235.jpg');
}
.rightHover{
  background-image: url('../../img/cotton.jpg');
}
#whiteShopLink{
  color: white;
    border: 2px solid white;
}


#triangleText{
  margin-top: 2.5%;
}



.socialButtons::before{
  color: black;
}
.socialButtons{
  width: 30%;
}
