/** No Nav on mobile **/
nav {
    display: none;
}

/** Scale background **/
main.container-fluid {
    background-position-x: 75% !important;
}

/** first Section slideshow should change positions & scaling **/
#slideshow-section, #infosection { float: unset;}
#infosection h1 {font-size: 2.5em; line-height: 1.1;}
#infosection, p {width: 90% !important;}

/** TODO: Move slideshow above text, somehow **/





/*MATERIALS*/
#materialHeader{
  height: 100vh;
}
#materialHeader > .header{
  font-size: 100px;
  line-height: 77px;
}
#materialInfo{
  height: 100vh;
}
#materialInfo > h3{
  margin-left: 6%;
  font-size: 42px;
  line-height: 45px;
}
#triangleSVG{
  width: 80%;
  height: 80%;
}
#triangleSVG > text{
  font-size: .3em;
}
#materialText{
  font-size: 16px;
  line-height: 24px;
}