.page{
  flex-flow: column nowrap;

}
p.text{
  font-size: 1.2em;
  margin: auto 8%;
}

/*Header*/
nav{
  height: 90px;
}
nav.small{
  height: 50px;
}

#splashpage{
  justify-content: flex-end;
}
#splashpage h1{
  margin-bottom: 12%;
  margin-right: 4%;
  font-size: 2.2em;
  height: 80px;
}

#slider{
  width: 100%;
  height: auto;
}
#sliderInfoWrapper{
  margin-top: 5%;
}

#triangleWrapper{
  width: 305px;
}
#triangleSVG{
  height: 300px;
}