.page{
  flex-flow: column nowrap;

}
p.text{
  font-size: 1em;
}

#splashpage{
  justify-content: flex-end;
}
#splashpage h1{
  margin-bottom: 20%;
  margin-left: 35%;
}

#slider{
  height: 55%;
  margin-top: 50px;
  width: 90%;
}
.cocoen-drag, .cocoen-drag::before{
  height: 100%;
}
#sliderInfoWrapper{
  margin: 0 15%;
  margin-top: 5%;

}

#shopLinkBig{
  text-decoration: none;
  background-color: black;
  color: white;
}
