
.cocoen-drag{
  transition: left 1s;
}
.cocoen > div:first-child{
  transition: width 1s;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}


/* Custom starting point for slider */
.cocoen-drag{left: 35%;}
.cocoen > div:first-child, picture .cocoen > div{width: 35%;}

/* Icon to drag */
.cocoen-drag{
  width: 3px;
}
.cocoen-drag::before{
  border-color: #F1F1F1;
  height: 68px;
  width: 68px;
  border-radius: 34px;
  left: 40%;
  margin-top: -34px;
  margin-left: -34px;
  background-image: url(../../img/icon/drag-icon.svg);
  background-size: contain;
}
